html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    /*font-size: 100%;*/
}

/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
    font: 12px/1.5 '微软雅黑',Arial,​Helvetica,​sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: '微软雅黑',Arial,​Helvetica,​sans-serif;
    line-height: 1;
    background:#FBF9FE;
}

.page {
    width: 100%;
    height: 3em;
}

.page-th {
    width: 100%;
    max-width: 600px;
    height: 3em;
    background:#337ab8;
    margin: 0 auto;
}

.page-th p {
    text-align: center;
    color: white;
    font-size:28px;
}

.page_title {
    text-align: center;
    margin: 0;
    text-align: center;
    color: white;
}

.show-text {
    height: 2em;
}

.show-text {
    text-align: center;
    font-size: 14px;
    padding-top: 5px;

}

.show-text p span{
    color: red;
}

.item-change {
    width: 100%;
    padding-top: 30px;
}

.item-changes {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

select option {
    font-size:12px;
}

.form-control {
    background: #fff;
}

.item-explain {
    width: 100%;
    padding-top: 30px;
}

.item-explains {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.user-name {
    width:100%;
    padding-top: 30px;
    /*height: 50px;*/
}

.user-names {
    width: 90%;
    /*height: 50px;*/
    max-width: 600px;
    margin: 0 auto;
}

.user-tel {
    width: 100%;
    padding-top:30px;
}

.user-tels {
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
}

.tijiaos {
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 30px;
}

.tijiao {
    font-size:18px;
}

.tijiaos button {
    background:#04be02;
    border: #04be02;
    /*margin-top: 30px;*/
}

.tijiaos button:hover {
    background: green;
}


/*以下是关于我们css*/

.explain {
    width: 100%;
    background:#337ab7;
    height: 30px;

}

.explains {
    max-width:600px;
    width: 100%;
    background:#337ab7;
    margin: 0 auto;
    height: 30px;
}

.explain-main {
    width: 100%;


}

.explain-mains {
    max-width: 600px;
    width: 100%;
    padding: 0 10px;

    margin: 0 auto;
}

.explains p {
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: "微软雅黑";
    font-size:12px;
}

.explain-main h3 {
    font-family: "微软雅黑";
}

.explain-main p {
    font-family: "微软雅黑";
    font-size:14px;
}

















